// Imports and Mixins
@import 'bourbon';
@mixin transition-transform($properties...) {
  -webkit-transition: -webkit-transform $properties;
  -moz-transition: -moz-transform $properties;
  -o-transition: -o-transform $properties;
  transition: transform $properties;
}

a[sref] {
  cursor: pointer;
}

@import "structure/sidebar";
@import "structure/slider";
@import "structure/form";
@import "structure/buttons";
