// Buttons
.btn-group {
  position: relative;
  display: table;
  border-spacing: 10px 0;
  margin: 0 -10px;

  .btn {
    display: table-cell;
    width: 1%;
  }
}

.btn-warning {
  color: #fff;
  background-color: #fdb338;
  border: 1px solid #fdb338;
}
.btn-outlined.btn-warning {
  color: #fdb338;
}
.btn-warning:active, .btn-warning.active {
  color: #fff;
  background-color: darken(#fdb338, 10%);
  border: 1px solid darken(#fdb338, 10%);
}
.btn-outlined {
  background-color: transparent;
}
